<div class="users_container">
<div class="header">
<h1>MY BLOG</h1>
<a href="/posts/new"><button type="button" class="see_all_post">Create a Post</button></a>
</div>
<% @users.each do |user| %>
<a href="users/<%=user.id%>" class="user_link">
<%= render partial: 'shared/card_user', locals: {user: user} %>
</a>
<%end%>
</div>

